<!--меню с выпадающим списком-->
<div class="header-menu2 header-menu">
    <div class="container">
        <div class="menu-wrap">
            <div class="vip-menu-wrap Discovery">
                <a href="#" class="vip-ssil" >Discovery</a>
                <div class="vip-menu-block ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 img align-self-center"><a href="#">
                                    <img src="{{ asset('img/Discovery.png') }}" alt="Discovery">
                                </a></div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Техническое обслуживание</a>
                                <a href="#">Ремонт трансмиссии</a>
                                <a href="#">Покраска кузова</a>
                                <a href="#">Ремонт электрооборудования</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Ремонт двигателя</a>
                                <a href="#">Ремонт ходовой</a>
                                <a href="#">Диагностика</a>
                                <a href="#">Кузовной ремонт</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Замена стёкол</a>
                                <a href="#">Детейлинг</a>
                                <a href="#">Ремонт дизельного двигателя</a>
                                <a href="#">Тормозная система</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vip-menu-wrap Discovery">
                <a href="#" class="vip-ssil">Freelander</a>
                <div class="vip-menu-block ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 img"><a href="#">
                                    <img src="{{ asset('img/freelander.png') }}" alt="Freelander">
                                </a></div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Техническое обслуживание</a>
                                <a href="#">Ремонт трансмиссии</a>
                                <a href="#">Покраска кузова</a>
                                <a href="#">Ремонт электрооборудования</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Ремонт двигателя</a>
                                <a href="#">Ремонт ходовой</a>
                                <a href="#">Диагностика</a>
                                <a href="#">Кузовной ремонт</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Замена стёкол</a>
                                <a href="#">Детейлинг</a>
                                <a href="#">Ремонт дизельного двигателя</a>
                                <a href="#">Тормозная система</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vip-menu-wrap Discovery">
                <a href="#" class="vip-ssil">Defender</a>
                <div class="vip-menu-block ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 img"><a href="#">
                                    <img src="{{ asset('img/Defender.png') }}" alt="Defender">
                                </a></div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Техническое обслуживание</a>
                                <a href="#">Ремонт трансмиссии</a>
                                <a href="#">Покраска кузова</a>
                                <a href="#">Ремонт электрооборудования</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Ремонт двигателя</a>
                                <a href="#">Ремонт ходовой</a>
                                <a href="#">Диагностика</a>
                                <a href="#">Кузовной ремонт</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Замена стёкол</a>
                                <a href="#">Детейлинг</a>
                                <a href="#">Ремонт дизельного двигателя</a>
                                <a href="#">Тормозная система</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vip-menu-wrap Discovery">
                <a href="#" class="vip-ssil">Discovery Sport</a>
                <div class="vip-menu-block ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 img"><a href="#">
                                    <img src="{{ asset('img/DiscoverySport.png') }}" alt="Discovery Sport">
                                </a></div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Техническое обслуживание</a>
                                <a href="#">Ремонт трансмиссии</a>
                                <a href="#">Покраска кузова</a>
                                <a href="#">Ремонт электрооборудования</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Ремонт двигателя</a>
                                <a href="#">Ремонт ходовой</a>
                                <a href="#">Диагностика</a>
                                <a href="#">Кузовной ремонт</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Замена стёкол</a>
                                <a href="#">Детейлинг</a>
                                <a href="#">Ремонт дизельного двигателя</a>
                                <a href="#">Тормозная система</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vip-menu-wrap Discovery">
                <a href="#" class="vip-ssil">Range Rover</a>
                <div class="vip-menu-block ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 img"><a href="#">
                                    <img src="{{ asset('img/landrover.png') }}" alt="Range Rover">
                                </a></div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Техническое обслуживание</a>
                                <a href="#">Ремонт трансмиссии</a>
                                <a href="#">Покраска кузова</a>
                                <a href="#">Ремонт электрооборудования</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Ремонт двигателя</a>
                                <a href="#">Ремонт ходовой</a>
                                <a href="#">Диагностика</a>
                                <a href="#">Кузовной ремонт</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Замена стёкол</a>
                                <a href="#">Детейлинг</a>
                                <a href="#">Ремонт дизельного двигателя</a>
                                <a href="#">Тормозная система</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vip-menu-wrap Discovery">
                <a href="#" class="vip-ssil">RR Sport</a>
                <div class="vip-menu-block ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 img"><a href="#">
                                    <img src="{{ asset('img/RangeRoverSport.png') }}" alt="RR Sport">
                                </a></div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Техническое обслуживание</a>
                                <a href="#">Ремонт трансмиссии</a>
                                <a href="#">Покраска кузова</a>
                                <a href="#">Ремонт электрооборудования</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Ремонт двигателя</a>
                                <a href="#">Ремонт ходовой</a>
                                <a href="#">Диагностика</a>
                                <a href="#">Кузовной ремонт</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Замена стёкол</a>
                                <a href="#">Детейлинг</a>
                                <a href="#">Ремонт дизельного двигателя</a>
                                <a href="#">Тормозная система</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vip-menu-wrap Discovery">
                <a href="#" class="vip-ssil">Evoque</a>
                <div class="vip-menu-block ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 img"><a href="#">
                                    <img src="{{ asset('img/xRangeRoverEvoque.png.pagespeed.ic.HJQ8XOu1rD.webp') }}" alt="Evoque">
                                </a></div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Техническое обслуживание</a>
                                <a href="#">Ремонт трансмиссии</a>
                                <a href="#">Покраска кузова</a>
                                <a href="#">Ремонт электрооборудования</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Ремонт двигателя</a>
                                <a href="#">Ремонт ходовой</a>
                                <a href="#">Диагностика</a>
                                <a href="#">Кузовной ремонт</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Замена стёкол</a>
                                <a href="#">Детейлинг</a>
                                <a href="#">Ремонт дизельного двигателя</a>
                                <a href="#">Тормозная система</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vip-menu-wrap Discovery">
                <a href="#" class="vip-ssil">Velar</a>
                <div class="vip-menu-block ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 img"><a href="#">
                                    <img src="{{ asset('img/RangeRoverVogue2.png') }}" alt="Velar">
                                </a></div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Техническое обслуживание</a>
                                <a href="#">Ремонт трансмиссии</a>
                                <a href="#">Покраска кузова</a>
                                <a href="#">Ремонт электрооборудования</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Ремонт двигателя</a>
                                <a href="#">Ремонт ходовой</a>
                                <a href="#">Диагностика</a>
                                <a href="#">Кузовной ремонт</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Замена стёкол</a>
                                <a href="#">Детейлинг</a>
                                <a href="#">Ремонт дизельного двигателя</a>
                                <a href="#">Тормозная система</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vip-menu-wrap Discovery">
                <a href="#" class="vip-ssil">Jaguar</a>
                <div class="vip-menu-block ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 img"><a href="#">
                                    <img src="{{ asset('img/jaguar.png') }}" alt="Jaguar">
                                </a></div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Техническое обслуживание</a>
                                <a href="#">Ремонт трансмиссии</a>
                                <a href="#">Покраска кузова</a>
                                <a href="#">Ремонт электрооборудования</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Ремонт двигателя</a>
                                <a href="#">Ремонт ходовой</a>
                                <a href="#">Диагностика</a>
                                <a href="#">Кузовной ремонт</a>
                            </div>
                            <div class="col-md-3 spis align-self-center">
                                <a href="#">Замена стёкол</a>
                                <a href="#">Детейлинг</a>
                                <a href="#">Ремонт дизельного двигателя</a>
                                <a href="#">Тормозная система</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--меню с выпадающим списком конец-->