<!--меню с выпадающим списком-->
<div class="header-menu2 header-menu">
    <div class="container">
        <div class="menu-wrap">
            {% for brand in brands %}
                <div class="vip-menu-wrap Discovery">
                    <a href="{{ path('dynamic_pages',{"token":brand.alias}) }}" class="vip-ssil">{{ brand.name }}</a>
                    <div class="vip-menu-block ">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 img align-self-center"><a
                                            href="{{ path('dynamic_pages',{"token":brand.alias}) }}">
                                        <img {{ lazy_load(asset('img/dropdown_menu/'~brand.image)) }} alt="{{ brand.name }}">
                                    </a></div>
                                <div class="col-md-3 spis align-self-center">
                                    {% for item in brand.brandMenus %}
                                    <a href="{{ path('dynamic_pages',{"token":item.alias}) }}">{{ item.name }}</a>
                                    {% if(loop.index % 4 == 0 ) %}
                                </div>
                                <div class="col-md-3 spis align-self-center">
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--меню с выпадающим списком конец-->