<!--Шапка начало-->
<div class="header-fix1">
    <div class="container">
        <div class="row">
            <div class="header-logo col-xl-2 col-lg-3 col-md-8 col-sm-4 col-8 align-self-center">
                <div class="header-logo-img">
                    <img src="{{ asset('img/logo.png') }}" alt="11">
                </div>
                <div class="header-logo-social">
                    <a href="https://www.youtube.com/channel/UCBh1PYncUgJyC9XI3ToDgEg/featured"><img src="{{ asset('img/yt.png') }}" alt="*"></a>
                    <a href="https://www.instagram.com/rovercitymoscow"><img src="{{ asset('img/inst.png') }}" alt="*"></a>
                    <a href="https://vk.com/rovercitymoscow"><img src="{{ asset('img/vk.png') }}" alt="*"></a>
                    <a href="https://www.facebook.com/RoverCityMoscow?ref=bookmarks"><img src="{{ asset('img/fb.png') }}" alt="*"></a>
                </div>
            </div>

            <div class="header-adres col-lg-6 col-xl-4 align-self-center  offset-xl-2  ">Москва, Севастопольский проспект, дом 95 б. <div>Ежедневно с 9.00 до 21.00 <a href="#map">схема проезда</a></div></div>

            <div class="header3-whatsapp col-xl-2 align-self-center ">
                <a target="_blank" href="https://wa.me/79771250392"> <img src="{{ asset('img/wahatsapp.png') }}" alt="*"><br>
                    <span>WhatsApp</span>
                </a>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4  align-self-center header-phone">
                <a href="tel:74951169626">+7 (495) 116-96-26</a>
                <div class="mbtn open_modal" data-title="Заказать звонок">Заказать звонок</div>
            </div>
            <div class="col-4 menubtn-wrap"><span class="menubtn"><img src="{{ asset('img/menu.svg') }}" alt="1"></span></div>

        </div>
    </div>
</div>
<!--Шапка конец-->