<!--Светлый блок Преимущества + Слайдер-->
<div class="block8 preimblock">
    <div class="container container2">
        <div class="zag">«Ровер Сити» - автосервис Land Rover в Москве</div>
        <div class="row">
            <div class="col-lg-6">
                <div class="bslider">
                    <div class="slider-for1">
                        <div class="img"><img src="{{ asset('img/bslider1/1.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/3.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/4.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/5.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/6.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/7.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/8.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/9.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/10.jpg') }}" alt="*"></div>
                    </div>
                    <div class="slider-nav1">
                        <div class="img"><img src="{{ asset('img/bslider1/mini/1.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/mini/3.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/mini/4.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/mini/5.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/mini/6.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/mini/7.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/mini/8.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/mini/9.jpg') }}" alt="*"></div>
                        <div class="img"><img src="{{ asset('img/bslider1/mini/10.jpg') }}" alt="*"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="text-wrap">
                    <p>ROVER CITY — крупнейший автосервис в Москве по ремонту и техническому обслуживанию автомобилей Land Rover и Jaguar.</p>
                    <p>Компания предоставляет каждому клиенту качественные услуги инженеров-механиков и автослесарей, работающих на инновационном оборудовании.</p>
                    <p>Независимо от модели и даты выпуска внедорожника ремонт и сервисное обслуживание Ленд Ровер проводятся в сжатые сроки согласно требованиям производителя с использованием оригинальных (лицензионных) запчастей и сертифицированных расходных материалов.</p>
                </div>
                <div class="preim-wrap">
                    <span class="preim1">Специализированный автосервис Land Rover и Jaguar;</span>
                    <span>Сохранение заводской гарантии;</span>
                    <span>Дешевле, чем у дилера до 60%;</span>
                    <span>Слесарный ремонт - 2 года гарантии;</span>
                    <span>Кузовной ремонт - пожизненная гарантия;</span>
                    <span class="preim6">Стоимость оговаривается до начала работ;</span>
                    <span>Свой склад автозапчастей.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Конец блока Преимущества-->