<!--Тёмный блок со слайдером начало-->
<div class="block4 blackblockv1">
    <div class="container container2">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="text-block text-block1">
                    <div class="textzag">Сохранение заводской гарантии</div>
                    <p>«Ровер Сити» - это сертифицированный автосервис по ремонту {{ brand is defined ? brand.fullName : 'Land Rover' }} и гарантия на автомобиль сохраняется</p>
                </div>
                <div class="text-block text-block2">
                    <div class="textzag">Гарантия 2 года на все работы</div>
                    <p>На слесарный ремонт {{ brand is defined ? brand.fullName : '' }} - гарантия 2 года. Кузовной ремонт - пожизненная гарантия</p>
                </div>
                <div class="text-block text-block3">
                    <div class="textzag">Крупнейший автосервис {{ brand is defined ? (brand.name == 'Jaguar'?'Jaguar':'Land Rover') : 'Land Rover' }} в Москве</div>
                    <p>Общая площадь 3000 м2 - более 30 автомобилей обслуживаются одновременно.</p>
                </div>
                <div class="text-block text-block4">
                    <div class="textzag">Свой склад запчастей</div>
                    <p>Только оригинальные запчасти {{ brand is defined ? brand.fullName : '' }} и качественные аналоги. Все запчасти имеют сертификаты.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bslider">
                    <div class="slider-for1">
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/1.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/3.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/4.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/5.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/6.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/7.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/8.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/9.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/10.jpg')) }} alt="*"></div>
                    </div>
                    <div class="slider-nav1">
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/mini/1.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/mini/3.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/mini/4.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/mini/5.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/mini/6.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/mini/7.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/mini/8.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/mini/9.jpg')) }} alt="*"></div>
                        <div class="img"><img {{ slick_lazy_load(asset('img/bslider1/mini/10.jpg')) }} alt="*"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Конец  блока со слайдером-->