<!--Блок с экспертами начало-->
<div class="block9 blockrabotniki">
    <div class="container container2">
        <div class="zag">Сертифицированные специалисты автосервиса «Ровер Сити»</div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="rabotniki-card">
                    <div class="img"><img {{ lazy_load(asset('img/spec4.jpg')) }} alt="*"></div>
                    <div class="text">
                        <b>Анна</b>
                        <span>Администратор</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="rabotniki-card">
                    <div class="img">
                        <img {{ lazy_load(asset('img/spec3.jpg')) }} alt="*">
                        <img src="{{ asset('img/serts.jpg') }}" alt="*" class="serts">
                    </div>
                    <div class="text">
                        <b>Дмитрий</b>
                        <span>Мастер кузовного цеха</span>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="rabotniki-card">
                    <div class="img">
                        <img {{ lazy_load(asset('img/spec2.jpg')) }} alt="*">
                        <img src="{{ asset('img/serts.jpg') }}" alt="*" class="serts">
                    </div>
                    <div class="text">
                        <b>Константин</b>
                        <span>Мастер слесарного цеха</span>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="rabotniki-card">
                    <div class="img">
                        <img {{ lazy_load(asset('img/spec1.jpg')) }} alt="*">
                        <img src="{{ asset('img/serts.jpg') }}" alt="*" class="serts">
                    </div>
                    <div class="text">
                        <b>Алексей</b>
                        <span>Менеджер отдела запчастей</span>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!--Конец блока Эксперты-->