<!--Подвал начало-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-4 footer-logo align-self-center">
                <div class="footer-logo-img">
                    <img src="{{ asset('img/logo.png') }}" alt="11">
                </div>
                <div class="footer-logo-social">
                    <a href="https://www.youtube.com/channel/UCBh1PYncUgJyC9XI3ToDgEg/featured"><img src="{{ asset('img/yt.png') }}" alt="*"></a>
                    <a href="https://www.instagram.com/rovercitymoscow"><img src="{{ asset('img/inst.png') }}" alt="*"></a>
                    <a href="https://vk.com/rovercitymoscow"><img src="{{ asset('img/vk.png') }}" alt="*"></a>
                    <a href="https://www.facebook.com/RoverCityMoscow?ref=bookmarks"><img src="{{ asset('img/fb.png') }}" alt="*"></a>
                </div>
                <div class="footer-text"><span>rovercity.ru © 2019</span>
                    <small>Все права сохранены.</small>
                    <small>Использование материалов сайта без согласования запрещено.</small>
                </div>
                <div class="mbtn">Заказать звонок</div>
            </div>
            <div class="col-lg-3 col-sm-4 col-6 footer-nav">
                <a href="{{ path('dynamic_pages',{"token":"o_kompanii"}) }}" class="footer-nav-ssli">О компании</a>
                <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover"}) }}" class="footer-nav-ssli">Услуги</a>
                <a href="{{ path('dynamic_pages',{"token":"skidki_i_akcii"}) }}" class="footer-nav-ssli">Услуги</a>
                <a href="{{ path('dynamic_pages',{"token":"price"}) }}" class="footer-nav-ssli">Цены</a>
                <a href="{{ path('dynamic_pages',{"token":"naschiraboty"}) }}" class="footer-nav-ssli">Наши работы</a>
                <a href="{{ path('dynamic_pages',{"token":"reviews"}) }}" class="footer-nav-ssli">Отзывы</a>
            </div>
            <div class="col-lg-3 col-sm-4 col-6 footer-nav">
                <a href="{{ path('dynamic_pages',{"token":"articles"}) }}" class="footer-nav-ssli">Статьи</a>
                <a href="{{ path('dynamic_pages',{"token":"faq"}) }}" class="footer-nav-ssli">Вопросы</a>
                <a href="{{ path('dynamic_pages',{"token":"zapchasti"}) }}" class="footer-nav-ssli">Запчасти</a>
                <a href="{{ path('dynamic_pages',{"token":"neispravnosti"}) }}" class="footer-nav-ssli">Неисправности</a>
                <a href="{{ path('dynamic_pages',{"token":"vacancies"}) }}" class="footer-nav-ssli">Вакансии</a>
                <a href="{{ path('dynamic_pages',{"token":"kontakt"}) }}" class="footer-nav-ssli">Контакты</a>
            </div>
            <div class="col-lg-3 footer-form">
                <div class="footer-zag">Проконсультируем Вас</div>
                <form class="callback-form" action="#">
                    <input type="text" name="phone" class="phone-field" placeholder="Номер телефона">
                    <input type="hidden" name="name" value="Не указано">
                    <span  class="callback-modal-title d-none">Заказ консультации</span>
                    <input type="submit" class="mbtn">
                </form>
            </div>
        </div>
    </div>
</div>
<!--Подвал конец-->