<!--Блок НАШИ РАБОТЫ начало-->
<div class="block11 blockraboti">
    <div class="container container2">
        <div class="zag">Наши работы:</div>
        <div class="footslider rab-slider">
            <div class="footslider-block rab-slider-block">
                <img src="{{ asset('img/raboti/1.jpg') }}" alt="*">
            </div>
            <div class="footslider-block rab-slider-block">
                <img src="{{ asset('img/raboti/2.jpg') }}" alt="*">
            </div>
            <div class="footslider-block rab-slider-block">
                <img src="{{ asset('img/raboti/3.jpg') }}" alt="*">
            </div>
            <div class="footslider-block rab-slider-block">
                <img src="{{ asset('img/raboti/4.jpg') }}" alt="*">
            </div>
            <div class="footslider-block rab-slider-block">
                <img src="{{ asset('img/raboti/5.jpg') }}" alt="*">
            </div>
            <div class="footslider-block rab-slider-block">
                <img src="{{ asset('img/raboti/6.jpg') }}" alt="*">
            </div>
            <div class="footslider-block rab-slider-block">
                <img src="{{ asset('img/raboti/7.jpg') }}" alt="*">
            </div>
            <div class="footslider-block rab-slider-block">
                <img src="{{ asset('img/raboti/8.jpg') }}" alt="*">
            </div>
            <div class="footslider-block rab-slider-block">
                <img src="{{ asset('img/raboti/9.jpg') }}" alt="*">
            </div>
            <div class="footslider-block rab-slider-block">
                <img src="{{ asset('img/raboti/10.jpg') }}" alt="*">
            </div>
        </div>
    </div>
    <div class="bigslider-wrap bigslider-rab-wrap">
        <div class="bigslider-close bigslider-rab-close">&#215;</div>
        <div class="bslider-body ">
            <div class="bigslider-for bigslider-rab-for">
                <div class="img"><img src="{{ asset('img/raboti/1.jpg') }}" alt="*"></div>
                <div class="img"><img src="{{ asset('img/raboti/2.jpg') }}" alt="*"></div>
                <div class="img"><img src="{{ asset('img/raboti/3.jpg') }}" alt="*"></div>
                <div class="img"><img src="{{ asset('img/raboti/4.jpg') }}" alt="*"></div>
                <div class="img"><img src="{{ asset('img/raboti/5.jpg') }}" alt="*"></div>
                <div class="img"><img src="{{ asset('img/raboti/6.jpg') }}" alt="*"></div>
                <div class="img"><img src="{{ asset('img/raboti/7.jpg') }}" alt="*"></div>
                <div class="img"><img src="{{ asset('img/raboti/8.jpg') }}" alt="*"></div>
                <div class="img"><img src="{{ asset('img/raboti/9.jpg') }}" alt="*"></div>
                <div class="img"><img src="{{ asset('img/raboti/10.jpg') }}" alt="*"></div>

            </div>
        </div>
    </div>
</div>
<!--Блок НАШИ РАБОТЫ конец-->