<!--Начало БЛОКА-АККАРДЕОНА с ценами-->
<div class="block5">
    <div class="container container2">
        <div class="zag">Прайс лист на ремонт и обслуживание {{ brand != null ? brand.fullName : 'Land Rover' }}</div>
        <div class="accordion">
            {% for price_list_section in price_list_sections %}
                <div class="accordion_item {{ loop.first ? 'active_block':'' }} ">
                    <h3 class="title_block">{{ price_list_section.section_name }}</h3>
                    <div class="info">
                        {% for service in price_list_section.services %}
                            <div class="info-text-wrap">
                                <div class="info-text">
                                    <span>{{ service.name }} <b>от {{ service.price }} р.</b></span>
                                </div>
                                <div class="info-btn ">
                                    <span class="open_modal" data-title="{{ service.name }}">
                                        Записаться
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--Конец БЛОКА-АККАРДЕОНА С ЦЕНАМИ-->