<!--Блок РЕЙТИНГИ начало-->
<div class="block13 blockreiting">
    <div class="container container2">
        <div class="zag">Независимые отзывы:</div>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="reiting-card">
                    <div class="img">
                        <a href="https://zoon.ru/msk/autoservice/avtoservis_rover_siti_na_sevastopolskom_prospekte/">
                            <img src="{{ asset('img/rating-logo-zoon.png') }}" alt="Zoon.ru">
                        </a>
                    </div>
                    <div class="text">
                        <span>рейтинг</span>
                        {{ stars(4.5) }}
                        <b>4.2 из 5</b>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="reiting-card">
                    <div class="img">
                        <a href="https://yandex.ru/maps/org/rover_siti_remont_lend_rover/89419044931/">
                            <img src="{{ asset('img/rating-logo-yandex.png') }}" alt="Yandex">
                        </a>
                    </div>
                    <div class="text">
                        <span>рейтинг</span>
                        {{ stars(4) }}
                        <b>3.7 из 5</b>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="reiting-card">
                    <div class="img">
                        <a href="https://www.google.com/maps/place/ROVERCITY/@55.63533,37.5414904,17z/data=!3m1!4b1!4m7!3m6!1s0x0:0x8ffec448137fb713!8m2!3d55.63533!4d37.5436791!9m1!1b1">
                            <img src="{{ asset('img/rating-logo-google.png') }}" alt="Google">
                        </a>
                    </div>
                    <div class="text">
                        <span>рейтинг</span>
                        {{ stars(4.5) }}
                        <b>4.3 из 5</b>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="reiting-card">
                    <div class="img">
                        <a href="https://2gis.ru/moscow/firm/70000001018822148/reviews/firm/70000001018822148">
                            <img src="{{ asset('img/rating-logo-2gis.png') }}" alt="2 Gis">
                        </a>
                    </div>
                    <div class="text">
                        <span>рейтинг</span>
                        {{ stars(4.5) }}
                        <b>4.1 из 5</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Блок РЕЙТИНГИ Конец-->