<!--Блок ОТЗЫВЫ начало-->
<div class="block10 blockotziv">
    <div class="container container2">
        <div class="zag">Реальные отзывы от наших клиентов:</div>
        <div class="footslider otziv-slider">
            <div class="footslider-block otziv-slider-block">
                <img {{ slick_lazy_load(asset('img/otzivi/1.jpg')) }} alt="*">
                <div class="text">Ленд Ровер Дискавери 3</div>
            </div>
            <div class="footslider-block otziv-slider-block">
                <img {{ slick_lazy_load(asset('img/otzivi/2.jpg')) }} alt="*">
                <div class="text">Range Rover суперчарджер</div>
            </div>
            <div class="footslider-block otziv-slider-block">
                <img {{ slick_lazy_load(asset('img/otzivi/3.jpg')) }} alt="*">
                <div class="text">Фриландер 2</div>
            </div>
            <div class="footslider-block otziv-slider-block">
                <img {{ slick_lazy_load(asset('img/otzivi/4.jpg')) }} alt="*">
                <div class="text">Ренж Ровер Спорт</div>
            </div>
            <div class="footslider-block otziv-slider-block">
                <img {{ slick_lazy_load(asset('img/otzivi/5.jpg')) }} alt="*">
                <div class="text">Фриландер 2</div>
            </div>
            <div class="footslider-block otziv-slider-block">
                <img {{ slick_lazy_load(asset('img/otzivi/6.jpg')) }} alt="*">
                <div class="text">Ленд ровер</div>
            </div>
            <div class="footslider-block otziv-slider-block">
                <img {{ slick_lazy_load(asset('img/otzivi/7.jpg')) }} alt="*">
                <div class="text">Ленд ровер</div>
            </div>
            <div class="footslider-block otziv-slider-block">
                <img {{ slick_lazy_load(asset('img/otzivi/8.jpg')) }} alt="*">
                <div class="text">Эвок</div>
            </div>
        </div>
    </div>
    <div class="bigslider-wrap bigslider-foot-wrap">
        <div class="bigslider-close bigslider-foot-close">&#215;</div>
        <div class="bslider-body">
            <div class="bigslider-for bigslider-foot-for">
                <div class="img"><img {{ slick_lazy_load(asset('img/otzivi/1.jpg')) }} alt="*"></div>
                <div class="img"><img {{ slick_lazy_load(asset('img/otzivi/2.jpg')) }} alt="*"></div>
                <div class="img"><img {{ slick_lazy_load(asset('img/otzivi/3.jpg')) }} alt="*"></div>
                <div class="img"><img {{ slick_lazy_load(asset('img/otzivi/4.jpg')) }} alt="*"></div>
                <div class="img"><img {{ slick_lazy_load(asset('img/otzivi/5.jpg')) }} alt="*"></div>
                <div class="img"><img {{ slick_lazy_load(asset('img/otzivi/6.jpg')) }} alt="*"></div>
                <div class="img"><img {{ slick_lazy_load(asset('img/otzivi/7.jpg')) }} alt="*"></div>
                <div class="img"><img {{ slick_lazy_load(asset('img/otzivi/8.jpg')) }} alt="*"></div>
            </div>
        </div>
    </div>
</div>
<!--Блок ОТЗЫВЫ конец-->