<!--Блок "УСЛУГИ" начало-->
<div class="block3 blockuslugi">
    <div class="container container2">
        <div class="row">
            <div class="col-lg-4">
                <div class="img"><img {{ lazy_load(asset(brand is empty ? 'img/uslugi/landrover.png':('img/service_menu/'~brand.image))) }} alt="*"></div>
            </div>
            <div class="col-lg-8">
                <div class="row uslugi-wrap">
                    {% for section in service_menu_sections %}
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn">
                            <img src="{{ asset('img/uslugi/'~section.image) }}" alt="*" class="usluga-icon">
                            {{ section.name }}
                            <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str">
                        </div>
                        <div class="usluga-body">
                            {% for service in section.services %}
                            <a href="{{ path('dynamic_pages',{"token":service.path}) }}">{{ service.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>
</div>
<!--Конец  блока "УСЛУГИ"-->