<!--Блок "УСЛУГИ" начало-->
<div class="block3 blockuslugi">
    <div class="container container2">
        <div class="row">
            <div class="col-lg-4">
                <div class="img"><img src="{{ asset('img/uslugi/landrover.png') }}" alt="*"></div>
            </div>
            <div class="col-lg-8">
                <div class="row uslugi-wrap">
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/1.jpg') }}" alt="*" class="usluga-icon"> Техническое обслуживаение <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="#">Техническое обслуживание</a>
                            <a href="#">Замена масла в двигателе</a>
                            <a href="#">Услуги специализированного автосервиса «Rover City»</a>
                            <a href="#">Замена масла в АКПП</a>
                            <a href="#">Замена топливного фильтра</a>
                            <a href="#">Замена фильтра в АКПП</a>
                            <a href="#">Замена масла в раздатке</a>
                            <a href="#">Замена масла в мостах</a>
                            <a href="#">Замена масла в МКПП</a>
                            <a href="#">Замена охлаждающей жидкости</a>
                            <a href="#">Замена ремня ГРМ</a>
                            <a href="#">Замена цепи ГРМ</a>
                            <a href="#">Замена приводного ремня</a>
                            <a href="#">Замена ролика натяжителя приводного ремня</a>
                            <a href="#">Замена помпы</a>
                            <a href="#">Замена свечей зажигания</a>
                            <a href="#">Обслуживание и проверка АКБ</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/2.jpg') }}" alt="*" class="usluga-icon"> Диагностика<img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="#">Компьютерная диагностика</a>
                            <a href="#">Полная диагностика</a>
                            <a href="#">Электронная диагностика</a>
                            <a href="#">Диагностика электрики</a>
                            <a href="#">Диагностика электрооборудования</a>
                            <a href="#">Диагностика систем</a>
                            <a href="#">Комплексная диагностика</a>
                            <a href="#">Диагностика КПП</a>
                            <a href="#">Диагностика двигателя</a>
                            <a href="#">Диагностика подвески</a>
                            <a href="#">Диагностика кондиционера</a>
                            <a href="#">Диагностика неисправностей</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/3.jpg') }}" alt="*" class="usluga-icon"> Ремонт трансмиссии <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="#">Замена соленоида АКПП</a>
                            <a href="#">Обслуживание АКПП</a>
                            <a href="#">Ремонт трансмиссии</a>
                            <a href="#">Ремонт гидроблока АКПП</a>
                            <a href="#">Диагностика АКПП</a>
                            <a href="#">Промывка АКПП</a>
                            <a href="#">Ремонт АКПП</a>
                            <a href="#">Ремонт МКПП</a>
                            <a href="#">Замена сцепления</a>
                            <a href="#">Ремонт заднего моста</a>
                            <a href="#">Замена и ремонт приводов</a>
                            <a href="#">Замена раздатки</a>
                            <a href="#">Ремонт и замена редукторов</a>
                            <a href="#">Замена ШРУСа</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/4.jpg') }}" alt="*" class="usluga-icon"> Кузовной ремонт<img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="#">Кузовной ремонт</a>
                            <a href="#">Профессиональный ремонт фар</a>
                            <a href="#">Ремонт замка двери</a>
                            <a href="#">Рихтовка кузова</a>
                            <a href="#">Устранение вмятин</a>
                            <a href="#">Жестяные работы</a>
                            <a href="#">Локальный ремонт кузова</a>
                            <a href="#">Кузовной ремонт бампера</a>
                            <a href="#">Кузовной ремонт двери</a>
                            <a href="#">Ремонт и замена крыла</a>
                            <a href="#">Ремонт и замена боковых зеркал</a>
                            <a href="#">Ремонт и замена крышки багажника</a>
                            <a href="#">Ремонт и замена панели крыши</a>
                            <a href="#">Ремонт лонжерона</a>
                            <a href="#">Ремонт порогов</a>
                            <a href="#">Кузовной ремонт капота</a>
                            <a href="#">Антикоррозийная обработка кузова</a>
                            <a href="#">Восстановление геометрии кузова</a>
                            <a href="#">Диагностика кузова</a>
                            <a href="#">Обработка кузова</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/5.jpg') }}" alt="*" class="usluga-icon"> Покраска кузова <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="#">Покраска автомобиля</a>
                            <a href="#">Покраска сколов на автомобиле</a>
                            <a href="#">Покраска зеркала</a>
                            <a href="#">Покраска вмятины</a>
                            <a href="#">Покраска арок</a>
                            <a href="#">Покраска двери</a>
                            <a href="#">Покраска деталей</a>
                            <a href="#">Покраска капота</a>
                            <a href="#">Покраска крыла</a>
                            <a href="#">Покраска крыши</a>
                            <a href="#">Покраска кузова</a>
                            <a href="#">Покраска бампера</a>
                            <a href="#">Покраска пластика салона</a>
                            <a href="#">Покраска порогов</a>
                            <a href="#">Покраска царапин на автомобиле</a>
                            <a href="#">Покрасочные работы кузова</a>
                            <a href="#">Полная покраска</a>
                            <a href="#">Аэрография для</a>
                            <a href="#">Диагностика лакокрасочного покрытия</a>
                            <a href="#">Подбор краски</a>
                            <a href="#">Покраска в матовый цве</a>т
                            <a href="#">Устранение царапин</a>

                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/6.jpg') }}" alt="*" class="usluga-icon"> Замена стёкол <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="#">Замена стекла люка</a>
                            <a href="#">Замена стекла двери</a>
                            <a href="#">Замена стекол</a>
                            <a href="#">Вклейка автомобильных стёкол</a>
                            <a href="#">Вклейка лобового стекла</a>
                            <a href="#">Установка лобового стекла</a>
                            <a href="#">Замена лобового стекла</a>
                            <a href="#">Ремонт и замена заднего стекла</a>
                            <a href="#">Ремонт сколов на стекле</a>
                            <a href="#">Ремонт трещин на стекле</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/7.jpg') }}" alt="*" class="usluga-icon"> Ремонт электрооборудования <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="#">Ремонт электрооборудования</a>
                            <a href="#">Ремонт стартера и генератора</a>
                            <a href="#">Профессиональный ремонт подогрева сидений</a>
                            <a href="#">Ремонт панели приборов</a>
                            <a href="#">Ремонт датчиков авто</a>
                            <a href="#">Ремонт электрики</a>
                            <a href="#">Ремонт электропроводки</a>
                            <a href="#">Ремонт генераторов</a>
                            <a href="#">Ремонт стартера</a>
                            <a href="#">Ремонт автокондиционеров</a>
                            <a href="#">Ремонт печки</a>
                            <a href="#">Замена реле регулятора</a>
                            <a href="#">Замена топливного насоса</a>
                            <a href="#">Обслуживание АКБ</a>

                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/8.jpg') }}" alt="*" class="usluga-icon"> Детайлинг <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="#">Детейлинг</a>
                            <a href="#">Полировка кузова</a>
                            <a href="#">Мойка автомобиля</a>
                            <a href="#">Полировка салона</a>
                            <a href="#">Химчистка салона</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/9.jpg') }}" alt="*" class="usluga-icon"> Ремонт двигателя <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="#">Ремонт двигателя в Москве</a>
                            <a href="#">Ремонт и замена выхлопной системы</a>
                            <a href="#">Ремонт топливной системы</a>
                            <a href="#">Замена глушителя</a>
                            <a href="#">Ремонт вебасто</a>
                            <a href="#">Ремонт блока управления двигателя</a>
                            <a href="#">Замена бензонасоса</a>
                            <a href="#">Ремонт топливной системы</a>
                            <a href="#">Диагностика двигателя</a>
                            <a href="#">Обслуживание двигателя</a>
                            <a href="#">Переборка двигателя</a>
                            <a href="#">Промывка двигателя</a>
                            <a href="#">Купить двигатель</a>
                            <a href="#">Ремонт системы охлаждения</a>
                            <a href="#">Замена гидрокомпенсаторов</a>
                            <a href="#">Замена клапанов двигателя</a>
                            <a href="#">Замена поддона картера</a>
                            <a href="#">Ремонт турбины</a>
                            <a href="#">Замена поршневых колец</a>
                            <a href="#">Замена подушек двигателя</a>
                            <a href="#">Ремонт ГБЦ</a>
                            <a href="#">Ремонт коленчатого вала</a>
                            <a href="#">Ремонт масляного насоса</a>
                            <a href="#">Замена распредвала</a>
                            <a href="#">Капитальный ремонт двигателя</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/10.jpg') }}" alt="*" class="usluga-icon"> Ремонт дизельного двигателя <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="#">Ремонт дизельного двигателя</a>
                            <a href="#">Капитальный ремонт дизельных двигателей</a>
                            <a href="#">Обслуживание дизельного двигателя</a>
                            <a href="#">Ремонт дизельных автомобилей</a>
                            <a href="#">Ремонт ТНВД</a>
                            <a href="#">Ремонт топливной аппаратуры дизельных двигателей</a>
                            <a href="#">Ремонт турбин дизельных двигателей</a>
                            <a href="#">Ремонт форсунок</a>
                            <a href="#">Диагностика дизельных двигателей</a>
                            <a href="#">Диагностика топливной системы дизельного двигателя</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/11.jpg') }}" alt="*" class="usluga-icon"> Ремонт ходовой <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="#">Ремонт карданного вала</a>
                            <a href="#">Ремонт ходовой части</a>
                            <a href="#">Замена подвески</a>
                            <a href="#">Ремонт пневмоподвески</a>
                            <a href="#">Замена амортизаторов</a>
                            <a href="#">Замена стабилизатора</a>
                            <a href="#">Замена пружин подвески</a>
                            <a href="#">Замена рычага подвески</a>
                            <a href="#">Ремонт компрессора подвески</a>
                            <a href="#">Замена сайлентблоков подвески</a>
                            <a href="#">Ремонт рулевого управления</a>
                            <a href="#">Диагностика и ремонт ABS</a>
                            <a href="#">Сход-развал</a>
                            <a href="#">Шиномонтаж</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/12.jpg') }}" alt="*" class="usluga-icon"> Тормозная система <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="#">Ремонт тормозной системы</a>
                            <a href="#">Ремонт ручного тормоза</a>
                            <a href="#">Ремонт тормозной системы</a>
                            <a href="#">Обслуживание тормозной системы</a>
                            <a href="#">Замена тормозных колодок</a>
                            <a href="#">Замена тормозных дисков</a>
                            <a href="#">Ремонт и обслуживание тормозного суппорта</a>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>
<!--Конец  блока "УСЛУГИ"-->