<!--Блок "УСЛУГИ" начало-->
<div class="block3 blockuslugi">
    <div class="container container2">
        <div class="row">
            <div class="col-lg-4">
                <div class="img"><img {{ lazy_load(asset(brand is empty ? 'img/uslugi/landrover.png':('img/service_menu/'~brand.image))) }} alt="*"></div>
            </div>
            <div class="col-lg-8">
                <div class="row uslugi-wrap">
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/1.jpg') }}" alt="*" class="usluga-icon"> Техническое обслуживаение <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie"}) }}">Техническое обслуживание</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/zamena_masla_v_dvigatele"}) }}">Замена масла в двигателе</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/drugie_uslugi"}) }}">Услуги специализированного автосервиса «Rover City»</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/zamena-masla-v-akpp"}) }}">Замена масла в АКПП</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/zamena_toplivnogo_filtra"}) }}">Замена топливного фильтра</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/zamena-filtra-akpp"}) }}">Замена фильтра в АКПП</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/zamena-masla-v-razdatke"}) }}">Замена масла в раздатке</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/zamena-masla-v-mostah"}) }}">Замена масла в мостах</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/zamena_masla_v_mkpp"}) }}">Замена масла в МКПП</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/zamena-ohlaghdayuschey-ghidkosti"}) }}">Замена охлаждающей жидкости</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/zamena-remnya-grm"}) }}">Замена ремня ГРМ</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/zamena-cepi-grm"}) }}">Замена цепи ГРМ</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/zamena-privodnyh-remney"}) }}">Замена приводного ремня</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/zamena-rolika-natyaghitelya-privodnogo-remnya"}) }}">Замена ролика натяжителя приводного ремня</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/zamena-pompy"}) }}">Замена помпы</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/zamena-svechey-zaghiganiya"}) }}">Замена свечей зажигания</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/texnicheskoe_obsluzhivanie/obslughivanie-i-proverka-akb"}) }}">Обслуживание и проверка АКБ</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/2.jpg') }}" alt="*" class="usluga-icon"> Диагностика<img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/diagnostika"}) }}">Компьютерная диагностика</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/diagnostika/polnaya-diagnostika-land-rover"}) }}">Полная диагностика</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/diagnostika/elektronnaya-diagnostika-land-rover"}) }}">Электронная диагностика</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/diagnostika/diagnostika-elektriki-land-rover"}) }}">Диагностика электрики</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/diagnostika/diagnostika-elektrooborudovaniya-land-rover"}) }}">Диагностика электрооборудования</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/diagnostika/diagnostika-sistem-land-rover"}) }}">Диагностика систем</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/diagnostika/kompleksnaya-diagnostika-land-rover"}) }}">Комплексная диагностика</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/diagnostika/diagnostika-kpp-land-rover"}) }}">Диагностика КПП</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/diagnostika/diagnostika-dvigatelya-land-rover"}) }}">Диагностика двигателя</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/diagnostika/diagnostika-podveski-land-rover"}) }}">Диагностика подвески</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/diagnostika/diagnostika-kondicionera-land-rover"}) }}">Диагностика кондиционера</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/diagnostika/diagnostika-neispravnostey-land-rover"}) }}">Диагностика неисправностей</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/3.jpg') }}" alt="*" class="usluga-icon"> Ремонт трансмиссии <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/transmission/zamena_solenoida_akpp"}) }}">Замена соленоида АКПП</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/transmission/servis_akpp"}) }}">Обслуживание АКПП</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/transmission"}) }}">Ремонт трансмиссии</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/transmission/remont_gidrobloka_akpp"}) }}">Ремонт гидроблока АКПП</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/transmission/diagnostika_akpp"}) }}">Диагностика АКПП</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/transmission/promvka_akpp"}) }}">Промывка АКПП</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/transmission/remont_akpp"}) }}">Ремонт АКПП</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/transmission/remont_mkpp"}) }}">Ремонт МКПП</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/transmission/zamena_scepleniya"}) }}">Замена сцепления</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/transmission/remont-zadnego-mosta-land-rover"}) }}">Ремонт заднего моста</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/transmission/zamena-i-remont-privodov-land-rover"}) }}">Замена и ремонт приводов</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/transmission/zamena-razdatki-land-rover"}) }}">Замена раздатки</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/transmission/remont-i-zamena-reduktorov-land-rover"}) }}">Ремонт и замена редукторов</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/transmission/zamena-shrusa-land-rover"}) }}">Замена ШРУСа</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/4.jpg') }}" alt="*" class="usluga-icon"> Кузовной ремонт<img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont"}) }}">Кузовной ремонт</a>
                            <a href="{{ path('dynamic_pages',{"token":"remont_land_rover/uslugi_land_rover/kuzovnoj_remont/professionalnyy-remont-far-land-rover"}) }}">Профессиональный ремонт фар</a>
                            <a href="{{ path('dynamic_pages',{"token":"remont_land_rover/uslugi_land_rover/kuzovnoj_remont/remont-zamka-dveri-land-rover"}) }}">Ремонт замка двери</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/rihtovka-kuzova-land-rover"}) }}">Рихтовка кузова</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/ustranenie-vmyatin-land-rover"}) }}">Устранение вмятин</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/ghestyanye-raboty-land-rover"}) }}">Жестяные работы</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/lokalnyy-remont-kuzova-land-rover"}) }}">Локальный ремонт кузова</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/remont_bamperov"}) }}">Кузовной ремонт бампера</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/kuzovnoj_remont_dveri"}) }}">Кузовной ремонт двери</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/remont-i-zamena-kryla-land-rover"}) }}">Ремонт и замена крыла</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/remont-i-zamena-bokovyh-zerkal-land-rover"}) }}">Ремонт и замена боковых зеркал</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/remont-i-zamena-kryshki-bagaghnika-land-rover"}) }}">Ремонт и замена крышки багажника</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/remont-i-zamena-paneli-kryshi-land-rover"}) }}">Ремонт и замена панели крыши</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/remont-longherona-land-rover"}) }}">Ремонт лонжерона</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/remont-porogov-land-rover"}) }}">Ремонт порогов</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/kuzovnoj_remont_kapota"}) }}">Кузовной ремонт капота</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/antikorroziynaya-obrabotka-kuzova-land-rover"}) }}">Антикоррозийная обработка кузова</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/vosstanovlenie-geometrii-kuzova-land-rover"}) }}">Восстановление геометрии кузова</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/diagnostika-kuzova-land-rover"}) }}">Диагностика кузова</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/kuzovnoj_remont/obrabotka-kuzova-land-rover"}) }}">Обработка кузова</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/5.jpg') }}" alt="*" class="usluga-icon"> Покраска кузова <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska"}) }}">Покраска автомобиля</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokraska-skolov-na-avtomobile-land-rover"}) }}">Покраска сколов на автомобиле</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokraska-zerkala-land-rover"}) }}">Покраска зеркала</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokraska-vmyatiny-land-rover"}) }}">Покраска вмятины</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokraska-arok-land-rover"}) }}">Покраска арок</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokraska-dveri-land-rover"}) }}">Покраска двери</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokraska-detaley-land-rover"}) }}">Покраска деталей</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokraska-kapota-land-rover"}) }}">Покраска капота</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokraska-kryla-land-rover"}) }}">Покраска крыла</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokraska-kryshi-land-rover"}) }}">Покраска крыши</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokraska-kuzova-land-rover"}) }}">Покраска кузова</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokraska_bampera_land_rover"}) }}">Покраска бампера</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokraska-plastika-salona-land-rover"}) }}">Покраска пластика салона</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokraska-porogov-land-rover"}) }}">Покраска порогов</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokraska-carapin-na-avtomobile-land-rover"}) }}">Покраска царапин на автомобиле</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokrasochnye-raboty-kuzova-land-rover"}) }}">Покрасочные работы кузова</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/polnaya-pokraska-land-rover"}) }}">Полная покраска</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/aerografiya-dlya-land-rover"}) }}">Аэрография для</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/diagnostika-lakokrasochnogo-pokrytiya-land-rover"}) }}">Диагностика лакокрасочного покрытия</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/podbor-kraski-land-rover"}) }}">Подбор краски</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/pokraska-land-rover-v-matovyy-cvet"}) }}">Покраска в матовый цве</a>т
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/pokraska/ustranenie-carapin-land-rover"}) }}">Устранение царапин</a>

                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/6.jpg') }}" alt="*" class="usluga-icon"> Замена стёкол <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/zamena-stekol/zamena-stekla-luka"}) }}">Замена стекла люка</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/zamena-stekol/zamena-stekla-dveri"}) }}">Замена стекла двери</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/zamena-stekol"}) }}">Замена стекол</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/zamena-stekol/vklejka_avtomobilnx_stekol"}) }}">Вклейка автомобильных стёкол</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/zamena-stekol/vkleyka-lobovogo-stekla-land-rover"}) }}">Вклейка лобового стекла</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/zamena-stekol/ustanovka-lobovogo-stekla-land-rover"}) }}">Установка лобового стекла</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/zamena-stekol/zamena_lobsteklas_lan"}) }}">Замена лобового стекла</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/zamena-stekol/remont-i-zamena-zadnego-stekla-land-rover"}) }}">Ремонт и замена заднего стекла</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/zamena-stekol/remont-skolov-na-stekle-land-rover"}) }}">Ремонт сколов на стекле</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/zamena-stekol/remont-treschin-na-stekle-land-rover"}) }}">Ремонт трещин на стекле</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/7.jpg') }}" alt="*" class="usluga-icon"> Ремонт электрооборудования <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_elektrooborudovaniya"}) }}">Ремонт электрооборудования</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_elektrooborudovaniya/remont_startera_i_generatora"}) }}">Ремонт стартера и генератора</a>
                            <a href="{{ path('dynamic_pages',{"token":"remont_land_rover/uslugi_land_rover/remont_elektrooborudovaniya/professionalnyy-remont-podogreva-sideniy-land-rover"}) }}">Профессиональный ремонт подогрева сидений</a>
                            <a href="{{ path('dynamic_pages',{"token":"remont_land_rover/uslugi_land_rover/remont_elektrooborudovaniya/remont-paneli-priborov-land-rover"}) }}">Ремонт панели приборов</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_elektrooborudovaniya/datchik"}) }}">Ремонт датчиков авто</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_elektrooborudovaniya/remont-elektriki-land-rover"}) }}">Ремонт электрики</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_elektrooborudovaniya/remont-elektroprovodki-land-rover"}) }}">Ремонт электропроводки</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_elektrooborudovaniya/remont-generatorov-land-rover"}) }}">Ремонт генераторов</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_elektrooborudovaniya/remont-startera-land-rover"}) }}">Ремонт стартера</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_elektrooborudovaniya/obslughivanie-avtomobilnyh-kondicionerov-land-rover"}) }}">Ремонт автокондиционеров</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_elektrooborudovaniya/remont-pechki-land-rover"}) }}">Ремонт печки</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_elektrooborudovaniya/zamena-rele-regulyatora-land-rover"}) }}">Замена реле регулятора</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_elektrooborudovaniya/zamena-toplivnogo-nasosa-land-rover"}) }}">Замена топливного насоса</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_elektrooborudovaniya/obslughivanie-akb-land-rover"}) }}">Обслуживание АКБ</a>

                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/8.jpg') }}" alt="*" class="usluga-icon"> Детайлинг <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/detailing"}) }}">Детейлинг</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/detailing/polirovka-kuzova"}) }}">Полировка кузова</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/detailing/moyka-avtomobilya-land-rover"}) }}">Мойка автомобиля</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/detailing/polirovka-salona-land-rover"}) }}">Полировка салона</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/detailing/himchistka-salona-land-rover"}) }}">Химчистка салона</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/9.jpg') }}" alt="*" class="usluga-icon"> Ремонт двигателя <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya"}) }}">Ремонт двигателя в Москве</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/remont_i_zamena_vxlopnoj_sistem"}) }}">Ремонт и замена выхлопной системы</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/remont_toplivnoj_sistem"}) }}">Ремонт топливной системы</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/zamena_glushitelya_land_rover"}) }}">Замена глушителя</a>
                            <a href="{{ path('dynamic_pages',{"token":"remont_land_rover/uslugi_land_rover/remont_dvigateliya/remont-vebasto-land-rover"}) }}">Ремонт вебасто</a>
                            <a href="{{ path('dynamic_pages',{"token":"remont_land_rover/uslugi_land_rover/remont_dvigateliya/remont-bloka-upravleniya-dvigatelya-land-rover"}) }}">Ремонт блока управления двигателя</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/zamena_benzonasosa_na_lend_rover_v_moskve"}) }}">Замена бензонасоса</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/remont_land_rover_toplivo"}) }}">Ремонт топливной системы</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/diagnostika_dvigatelya_lend_rover"}) }}">Диагностика двигателя</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/obsluzhivanie_dvigatelya_lend_rover"}) }}">Обслуживание двигателя</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/pereborka_dvigatelya_land_rover"}) }}">Переборка двигателя</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/promvka_dvigatelya_land_rover"}) }}">Промывка двигателя</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/kupit_dvigatel"}) }}">Купить двигатель</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/remont_sistem_oxlazhdeniya"}) }}">Ремонт системы охлаждения</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/zamena-gidrokompensatorov-land-rover"}) }}">Замена гидрокомпенсаторов</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/zamena-klapanov-dvigatelya-land-rover"}) }}">Замена клапанов двигателя</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/zamena-poddona-kartera-land-rover"}) }}">Замена поддона картера</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/remont-turbiny-land-rover"}) }}">Ремонт турбины</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/zamena-porshnevyh-kolec-land-rover"}) }}">Замена поршневых колец</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/zamena_podushek_dvigatelya"}) }}">Замена подушек двигателя</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/remont-gbc-land-rover"}) }}">Ремонт ГБЦ</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/remont-kolenchatogo-vala-land-rover"}) }}">Ремонт коленчатого вала</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/remont-maslyanogo-nasosa-land-rover"}) }}">Ремонт масляного насоса</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/zamena-raspredvala-land-rover"}) }}">Замена распредвала</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_dvigateliya/kapitalnyy-remont-dvigatelya-land-rover"}) }}">Капитальный ремонт двигателя</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/10.jpg') }}" alt="*" class="usluga-icon"> Ремонт дизельного двигателя <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_diselnix_dvagatelei"}) }}">Ремонт дизельного двигателя</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_diselnix_dvagatelei/kapitalnyy-remont-dizelnyh-dvigateley-land-rover"}) }}">Капитальный ремонт дизельных двигателей</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_diselnix_dvagatelei/obslughivanie-dizelnogo-dvigatelya-land-rover"}) }}">Обслуживание дизельного двигателя</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_diselnix_dvagatelei/remont-dizelnyh-avtomobiley-land-rover"}) }}">Ремонт дизельных автомобилей</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_diselnix_dvagatelei/remont-tnvd-land-rover"}) }}">Ремонт ТНВД</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_diselnix_dvagatelei/remont-toplivnoy-apparatury-dizelnyh-dvigateley-land-rover"}) }}">Ремонт топливной аппаратуры дизельных двигателей</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_diselnix_dvagatelei/remont-turbin-dizelnyh-dvigateley-land-rover"}) }}">Ремонт турбин дизельных двигателей</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_diselnix_dvagatelei/remont-forsunok-land-rover"}) }}">Ремонт форсунок</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_diselnix_dvagatelei/diagnostika-dizelnyh-dvigateley-land-rover"}) }}">Диагностика дизельных двигателей</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_diselnix_dvagatelei/diagnostika-toplivnoy-sistemy-dizelnogo-dvigatelya-land-rover"}) }}">Диагностика топливной системы дизельного двигателя</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/11.jpg') }}" alt="*" class="usluga-icon"> Ремонт ходовой <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="{{ path('dynamic_pages',{"token":"remont_land_rover/uslugi_land_rover/remont_hodovoi/remont-kardannogo-vala-land-rover"}) }}">Ремонт карданного вала</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_hodovoi"}) }}">Ремонт ходовой части</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_hodovoi/zamena-podveski-land-rover"}) }}">Замена подвески</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_hodovoi/remont_pnevmopodveski_land_rover"}) }}">Ремонт пневмоподвески</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_hodovoi/zamena_amort_land_rd"}) }}">Замена амортизаторов</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_hodovoi/zamena-stabilizatora-land-rover"}) }}">Замена стабилизатора</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_hodovoi/zamena-prughin-podveski-land-rover"}) }}">Замена пружин подвески</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_hodovoi/zamena-rychaga-podveski-land-rover"}) }}">Замена рычага подвески</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_hodovoi/remont-kompressora-podveski-land-rover"}) }}">Ремонт компрессора подвески</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_hodovoi/zamena-saylentblokov-podveski-land-rover"}) }}">Замена сайлентблоков подвески</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_hodovoi/remont_rulevogo_upravleniya"}) }}">Ремонт рулевого управления</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_hodovoi/diagnostika-i-remont-abs-land-rover"}) }}">Диагностика и ремонт ABS</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_hodovoi/sxod-razval"}) }}">Сход-развал</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/remont_hodovoi/shinomontazh"}) }}">Шиномонтаж</a>
                        </div>
                    </div>
                    <div class="col-lg-6 usluga-block">
                        <div class="usluga-btn"><img src="{{ asset('img/uslugi/12.jpg') }}" alt="*" class="usluga-icon"> Тормозная система <img src="{{ asset('img/uslugi/arrow.png') }}" alt="*" class="usluga-str"></div>
                        <div class="usluga-body">
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/tormoznaya_systema/remont_toplivnoj_sistem"}) }}">Ремонт тормозной системы</a>
                            <a href="{{ path('dynamic_pages',{"token":"remont_land_rover/uslugi_land_rover/tormoznaya_systema/remont-ruchnogo-tormoza-land-rover"}) }}">Ремонт ручного тормоза</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/tormoznaya_systema"}) }}">Ремонт тормозной системы</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/tormoznaya_systema/obslughivanie-tormoznoy-sistemy-land-rover"}) }}">Обслуживание тормозной системы</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/tormoznaya_systema/zamena_torm_kolodokland"}) }}">Замена тормозных колодок</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/tormoznaya_systema/zamena-tormoznyh-diskov-land-rover"}) }}">Замена тормозных дисков</a>
                            <a href="{{ path('dynamic_pages',{"token":"uslugi_land_rover/tormoznaya_systema/remont-i-obslughivanie-tormoznogo-supporta-land-rover"}) }}">Ремонт и обслуживание тормозного суппорта</a>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>
<!--Конец  блока "УСЛУГИ"-->