<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Автосервис Land Rover (Ленд Ровер) в Москве 🚩 «Ровер Сити» - специализированный сервис Land Rover{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/slider.css') }}" >
            <link rel="stylesheet" href="{{ asset('css/slick.css') }}" >
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" >
            <link rel="stylesheet" href="{{ asset('css/media.css') }}" >
        {% endblock %}
    </head>
    <body>
    {{ include('modules/header.html.twig') }}
    {{ include('modules/video_block.html.twig') }}

    <div class="wraper">

        {{ include('modules/actions.html.twig') }}
        {{ include('modules/services.html.twig') }}
        {{ include('modules/advantages_slider.html.twig') }}
        {{ include('modules/advantages_video.html.twig') }}
        {{ include('modules/pricelist.html.twig') }}
        {{ include('modules/callback_buttons.html.twig') }}
        {{ include('modules/calculator.html.twig') }}
        {{ include('modules/about_company.html.twig') }}
        {{ include('modules/experts.html.twig') }}
        {{ include('modules/reviews.html.twig') }}
        {{ include('modules/rating.html.twig') }}
        {{ include('modules/our_works.html.twig') }}

        {% block body %}

        {% endblock %}



        {{ include('modules/footer.html.twig') }}
        {{ include('modules/modal_window.html.twig') }}





    </div>

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery.glide.js') }}"></script>
            <script src="{{ asset('js/slick.min.js') }}"></script>
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
