<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Автосервис Land Rover (Ленд Ровер) в Москве 🚩 «Ровер Сити» - специализированный сервис Land Rover{% endblock %}</title>
    <meta name="description" content="{% block description %}Автосервисе Land Rover (Ленд Ровер) в Москве. ⭐ Сервис европейского уровня. ✅ Бесплатная диагностика и эвакуатор. ✅ Выгода до 30%. ⭐ Ремонт и техническое обслуживание Land Rover по низкой цене ⏰ записаться в автосервис «Ровер Сити» ☎ 8(495)150-70-69.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">

    <meta property="og:title" content="{{ block('title') }}" />
    <meta property="og:keywords" content="{{ block('keywords') }}" />
    <meta property="og:description" content="{{ block('description') }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta name="yandex-verification" content="97f27b0bce5bb398" />
    <meta name="google-site-verification" content="drFrdaIlpbN7KN7cB065vJ3owb5UI4wAmOfAZMnyk3U" />
    <!--schema.org-->
    <meta property="schema:name" content="{{ block('title') }}">
    <meta property="schema:description" content="{{ block('description') }}">
    {{ include('modules/seo_scripts/schema.html.twig') }}
    <!--schema.org конец-->
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/slider.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/slick.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/media.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/map.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/stars.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/popup-banner.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('css/mango_perezvon_style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
{% endblock %}
    {{ include('modules/seo_scripts/yandex_metrika.html.twig') }}
    </head>
    <body>
    {{ include('modules/header.html.twig') }}
    {{ include('modules/video_block.html.twig') }}

    <div class="wraper">
        {% block body %}

        {% endblock %}
        {{ include('modules/map.html.twig') }}
        {{ include('modules/footer.html.twig') }}
        {{ include('modules/popup/modal_window.html.twig') }}
        {{ whatsapp_button|raw }}
        {% if app.environment != 'dev' %}
        {#{{ include('modules/popup/banner.html.twig') }}#}
        {% endif %}
    </div>

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery.glide.js') }}"></script>
            <script src="{{ asset('js/slick.min.js') }}"></script>
            <script src="{{ asset('js/jquery.maskedinput.min.js') }}"></script>
            <script src="{{ asset('js/map.js') }}"></script>
            <script src="{{ asset('js/script.js') }}"></script>
            <script src="{{ asset('js/modal_handler.js') }}"></script>
            <script src="{{ asset('js/calculator.js') }}"></script>

            <script src="https://mod.calltouch.ru/init.js?id=01fflb4r"></script>
            <script type="text/javascript" src="//widget.mango-office.ru/js/c-t-w.min.js"></script>

            <script src="{{ asset('js/mango_perezvon_js.js') }}"></script>
            {{ include('modules/seo_scripts/comagic.html.twig') }}
            {{ include('modules/seo_scripts/mango.html.twig') }}
            {{ include('modules/seo_scripts/mango_callback.html.twig') }}
            {{ include('modules/seo_scripts/liveinternet.html.twig') }}
            {{ include('modules/seo_scripts/lazy_load_images.html.twig') }}

        {% endblock %}
    </body>
</html>
