<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Автосервис Land Rover (Ленд Ровер) в Москве 🚩 «Ровер Сити» - специализированный сервис Land Rover{% endblock %}</title>
    <meta name="description" content="{% block description %}Автосервисе Land Rover (Ленд Ровер) в Москве. ⭐ Сервис европейского уровня. ✅ Бесплатная диагностика и эвакуатор. ✅ Выгода до 30%. ⭐ Ремонт и техническое обслуживание Land Rover по низкой цене ⏰ записаться в автосервис «Ровер Сити» ☎ 8(495)150-70-69.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/slider.css') }}" >
            <link rel="stylesheet" href="{{ asset('css/slick.css') }}" >
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" >
            <link rel="stylesheet" href="{{ asset('css/media.css') }}" >
            <link rel="stylesheet" href="{{ asset('css/map.css') }}" >
            <link rel="stylesheet" href="{{ asset('css/stars.css') }}" >
            <link rel="stylesheet" href="{{ asset('css/popup-banner.css') }}" >
        {% endblock %}
    {{ include('modules/seo_scripts/yandex_metrika.html.twig') }}
    </head>
    <body>
    {{ include('modules/header.html.twig') }}
    {{ include('modules/video_block.html.twig') }}

    <div class="wraper">
        {% block body %}

        {% endblock %}
        {{ include('modules/map.html.twig') }}
        {{ include('modules/footer.html.twig') }}
        {{ include('modules/popup/modal_window.html.twig') }}
        {{ whatsapp_button|raw }}
        {% if app.environment != 'dev' %}
        {#{{ include('modules/popup/banner.html.twig') }}#}
        {% endif %}
    </div>

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery.glide.js') }}"></script>
            <script src="{{ asset('js/slick.min.js') }}"></script>
            <script src="{{ asset('js/jquery.maskedinput.min.js') }}"></script>
            <script src="{{ asset('js/map.js') }}"></script>
            <script src="{{ asset('js/script.js') }}"></script>
            <script src="{{ asset('js/modal_handler.js') }}"></script>
            <script src="{{ asset('js/calculator.js') }}"></script>
            {{ include('modules/seo_scripts/lazy_load_images.html.twig') }}

        {% endblock %}
    </body>
</html>
